<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
<title>Add category</title>
</head>
<body>
<h1>Add new category</h1>

<div>
	<form th:object="${category}" th:action="@{/saveCategory}" action="#" method="post">
		<label for="name">Name</label>
		<input type="text" id="name" th:field="*{name}"/>
		<div style="clear: both; display: block; height: 10px;"></div>
		
		<input type="submit" class="btn btn-success" value="Save"></input>
		<a href="/categorylist" class="btn btn-secondary">Cancel</a> 
	</form>
</div>
</body>
</html>